#textdomain wesnoth-Bad_Moon_Rising
[story]


	[part]
	story= _ "Note:  This campaign is a work in progress but it will improve more quickly if you enable summary uploads (the little envelope icon in the bottom right corner of the start screen).  It helps me (or any authors of other campaigns) detect any scenarios that are too easy, frustrating, or lame.  Thank you.  This message will be removed at BMR version 1.0."
	background=misc/warning.jpg
	[/part]
	[part]
	story= _ "This campaign takes place around 960 YW - some years after Son of the Black Eye but well before Under the Burning Suns.  Wesnoth had expanded its territory into the north, but the kingdom had passed its prime and began to collapse from within." 
	[/part]
	[part]
	story= _ "Ukiah was a northern territory populated by descendants of nomads and Wesnoth settlers.  The orcs were not happy about Wesnoth's encroachment, and frequently raided and terrorized the Ukians in the hopes of driving them back south.  When Weldyn decided it needed to direct its resources elsewhere, and left Ukiah to fend for itself, life got very difficult."  
	background= _ "misc/BMRtundra.png"
	[/part]
	[part]
	story= _ "The horses, scholars, stables, and libraries proved too difficult to maintain and defend, so equestrian and most magical knowledge was lost.  The Ukians could not hope to overpower the orcish raiders, so they developed a vast sentry network that could communicate long distances via torch semaphores.  Every man of every age was trained to use a spear, and every woman a bow.  The Ukians could rely on the keen senses of their dogs to alert them that something bad was about to happen.  When the raiders would arrive at the Ukian settlment, they would find it abandoned."
	background= _ "misc/BMRintrodog.jpg"
	[/part]
	[part]
	story= _ "One day, a young prince rode with an army up from the south.  He had the resources to push the orcs back and create a safe territory where the Ukians did not need to constantly break camp to flee an orcish raid.  The Ukians were grateful and when the prince married one of their own women, he became their King." 
	background=misc/BMRintroking.jpg
	[/part]
	[part]
	story= _ "The king and queen were able to maintain stability so that trade and scholarship were once again possible.  Unfortunately, they proved unable to raise their only son.  Prince Huric was a very talented fighter and could be very charming when he wished, but seemed to lack any concience or empathy." 
	background=misc/BMRtundra.png
	[/part]
	[part]
	story= _ "When the King died, Huric assumed the throne.  His reign was characterized by heavy-handed cruelty.  Huric promoted his friends to high positions, neglected civil maintnance, and executed those who displeased him.  While he did keep the hated orcs at bay, he was running Ukiah into the ground and ruining what his father had built."
	background=misc/BMRintrohuric.jpg
	[/part]
	[part]
	story= _ "One person from the old regime who still maintained some power was Minister Duval, who was charged with actually implementing Royal policies.  It was an open secret that many of the (sane) Royal edicts and decrees were actually from Duval.  As long as Duval concerned himself with road maintenance and the like, Huric did not seem to care."
	background=misc/BMRintroduval.jpg
	[/part]
	[part]
	story= _ "The Ukians knew their small nation was sliding back into the dark ages, and there was a lot of tension.  That tension boiled over to unrest and rage one day, sparked off by a particularly despicable action by the Prince."
	background=misc/BMRtundra.png
	[/part]
	[part]
	story= _ "Prince Huric often treated the peasants like trash, but this time he had gone too far..." 
	background=misc/BMRtundra.png
	[/part]
	[part]
	story= _ "This story concerns one of the royal officers, Lieutenant Lorenzon, who was at the center of the events that followed."
	background=misc/Rise_Map.jpg
		[image]
		file=units/human-loyalists/lieutenant-leading.png
		x,y=284,254
		[/image]
		[image]
		file=misc/flag-red.png
		x,y=310,305
		[/image]
	[/part]
[/story]
