#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="ZZ1_checkpoint"
	name= _ "Checkpoint"
	map_data="{@campaigns/Bad_Moon_Rising/maps/ZZ1_checkpoint.map}"
	next_scenario="ZZ1_North1"
	victory_when_enemies_defeated=yes
	{TURNS 50 55 60}
	{SCENARIO_MUSIC "breaking_the_chains.ogg"}


	{BMR_DAYLONG}

	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Defeat Enemy Leader"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Lorenzon"
			[/objective]
			[objective]
			condition=lose
			description=_ "Time Runs Out"
			[/objective]
		[/objectives]
	[/event]

	[side]
	type=Ukian Commander
	description=Lorenzon
	user_description= _ "Lorenzon"
	profile="portraits/lorenzon.png"
	side=1
	canrecruit=yes
	controller=human
	shroud=no
	recruit=Ukian Dog, Ukian Runner, Ukian Regular, Ukian Archer
	{GOLD 120 100 80}
	team_name=good
	[/side]

	[side]
	type=Orcish Warlord
	description=Sketa Skoro
	user_description= _ "Sketa Skoro"
	side=2
	canrecruit=yes
	shroud=yes
	recruit=Orcish Grunt, Orcish Archer, Goblin Spearman, Wolf Rider
	{GOLD 150 200 250}
	{INCOME 4 6 8}
	team_name=bad
	[unit]
	type=Orcish Crossbowman
	x,y=14,16
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Orcish Archer
	x,y=13,17
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Orcish Archer
	x,y=15,17
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Goblin Spearman
	x,y=18,18
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Goblin Spearman
	x,y=16,18
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	description=Guard
	type=Orcish Warrior
	x,y=20,16
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Orcish Grunt
	x,y=19,17
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Orcish Grunt
	x,y=21,17
	generate_description=yes
	ai_special=guardian
	[/unit]
	[/side]

	[event]
	name=start
	[message]
	speaker=Guard
	message= _ "Halt!  Humans are not welcome...  Wait!  It's the Ukians!"
	[/message]
	[message]
	speaker=Sketa Skoro
	message= _ "What are you doing here?"
	[/message]
	[message]
	speaker=Lorenzon
	message= _ "Stand aside!"
	[/message]
	[message]
	speaker=Sketa Skoro
	message= _ "-snort- Right..."
	[/message]
	[/event]


	[event]
	name=die
		[filter]
		description=Lorenzon
		[/filter]
		[message]
		speaker=Lorenzon
		message= _ "Damned orcs!"
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		description=Sketa Skoro
		[/filter]
		[message]
		speaker=unit
		message= _ "Aaarggh"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "Good!  Now our army can pass through.  Onward!"  
		[/message]
		[endlevel]
		result=victory
		[/endlevel]
	[/event]

	[event]
	name=time over
		[message]
		speaker=Lorenzon
		message= _ "This is taking too long.  I think I hear orcish drums of an army closing in..."
		[/message] 
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]
	
[/scenario]
