#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="ZZ4_Showdown"
	name= _ "Eastern Volcano"
	map_data="{@campaigns/Bad_Moon_Rising/maps/ZZ4_Showdown.map}"
	next_scenario=null
	victory_when_enemies_defeated=no
	{TURNS 50 45 40}
	{SCENARIO_MUSIC "legends_of_the_north.ogg"}

	{UNDERGROUND}

	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Defeat Enemy Leaders."
			[/objective]
			[objective]
			condition=win
			description=_ "Move Belleros to Cave Entrance"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Belleros"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Scarrion"
			[/objective]
			[objective]
			condition=lose
			description=_ "Time Runs Out"
			[/objective]

		[/objectives]
	[/event]

	[side]
	type=Ukian Subcommander
	description=Belleros
	user_description= _ "Belleros"
	profile="portraits/belleros.png"
	side=1
	canrecruit=yes
	controller=human
	shroud=yes
	fog=yes
	recruit=Ukian Dog, Ukian Runner, Ukian Regular, Ukian Archer
	{GOLD 120 100 80}
	team_name=good
	[/side]

	[side]
	type=Primeval Storm
	description=Ataxa
	user_description= _ "Ataxa"
	side=2
	canrecruit=yes
	shroud=yes
	recruit=Primeval Striker, Primeval Swiftfoot, Primeval Driver, Primeval Giant
	{GOLD 350 400 450}
	{INCOME 4 6 8}
	team_name=evil
	[unit]
	type=Primeval Swiftfoot 
	x,y=20,47
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Primeval Driver
	x,y=25,48
	generate_description=yes
	ai_special=guardian
	[/unit]
	[ai]
	aggression=1.0
	[/ai]
	[/side]

	[side]
	type=Troll Warrior
	description=Grumble
	user_description= _ "Grumble"
	side=3
	canrecruit=yes
	shroud=no
	recruit=Troll, Troll Rocklobber, Troll Whelp
	{GOLD 250 300 350}
	{INCOME 4 6 8}
	team_name=evil
	[/side]

	[side]
	type=Fire Dragon
	description=Karnaka
	user_description= _ "Karnaka"
	side=4
	canrecruit=yes
	shroud=no
	recruit=Vampire Bat, Mudcrawler, Giant Scorpion, Giant Mudcrawler
	{GOLD 350 400 450}
	{INCOME 4 6 8}
	team_name=evil
	[ai]
	aggression=1.0
	[protect_location]
	x=19-23
	y=6-10
	value=100
	[/protect_location]
	[/ai]
	[unit]
	type=Cuttle Fish
	x,y=21,19
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Cuttle Fish
	x,y=3,35
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Cuttle Fish
	x,y=33,49
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Giant Spider
	x,y=11,15
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Giant Spider
	x,y=30,39
	generate_description=yes
	ai_special=guardian
	[/unit]
	[unit]
	type=Giant Spider
	x,y=27,49
	generate_description=yes
	ai_special=guardian
	[/unit]
	[/side]

	[side]
	no_leader=yes
	side=5
	shroud=no
	team_name=evil
	[unit]
	type=Primeval Nemesis
	description=Nemesis
	user_description= _ "Nemesis"
	x,y=26,16
	ai_special=guardian
	[/unit]
	[ai]
	[avoid_location]
	x=20-25
	y=1-10
	[/avoid_location]
	[/ai]
	[/side]

	[event]
	name=prestart
	{SCATTER_IMAGE (terrain=Uu) 5 scenery/rock1.png}
	{SCATTER_IMAGE (terrain=Uu) 5 scenery/rock2.png}
	[item]
	x,y=11,7
	image=scenery/rune3-glow.png
	[/item]
	[item]
	x,y=11,6
	image=scenery/monolith3.png
	[/item]
	[item]
	x,y=7,43
	image=scenery/monolith2.png
	[/item]
	[recall]
	description=Scarrion_Prim
	x,y=11,42
	[/recall]
	[/event]


	{LIMIT_CONTEMPORANEOUS_RECRUITS 2 (Primeval Striker) 2}
	{LIMIT_CONTEMPORANEOUS_RECRUITS 2 (Primeval Giant) 2}
	{LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Troll Rocklobber) 2}
	{LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Troll) 2}

	[event]
	name=start
		[message]
		speaker=Belleros
		message= _ "Great, a chasm!  What are we going to do!?"
		[/message]
		[message]
		speaker=Scarrion_Prim
		message= _ "This cave was intentionally built, I doubt the creators would make a dead end."
		[/message]
		[message]
		speaker=Ataxa
		message= _ "KHhaaa!"
		[/message]
		[message]
		speaker=Belleros
		message= _ "This just gets better and better..."
		[/message]
		[message]
		speaker=Scarrion_Prim
		message= _ "I see a monolith across the chasm.  I'll need to shed this body to reach it..."
		[/message]
		[kill]
		description=Scarrion_Prim
		[/kill]
		[unit]
		type=Scarrion Ghost
		description=Scarrion
		user_description= _ "Scarrion"
		{IS_HERO}
		unrenamable=yes
		x,y=11,42
		[/unit]
		[redraw][/redraw]
		{MOVE_UNIT (description=Scarrion) 7 43}
		[message]
		speaker=Scarrion
		message= _ "I knew it, this should help."
		image=portraits/scarrion-ghost.png
		[/message]
		{TREMOR}
		[terrain]
		terrain=Uu
		x=8-10
		y=42-43				 
		[/terrain]
		[redraw][/redraw]		
	[/event]
		
	[event]
	name=die
		[filter]
		description=Belleros
		[/filter]
		[message]
		speaker=unit
		message= _ "Arg, we were... so ..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		description=Scarrion
		[/filter]
		[message]
		speaker=Belleros
		message= _ "Uh-oh..."
		[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		description=Ataxa
		[/filter]
		[message]
		speaker=unit
		message= _ "KHRAAaaaa!"
		[/message]
	[/event]

	[event]
	name=die
		[filter]
		description=Grumble
		[/filter]
		[message]
		speaker=unit
		message= _ "Grumble..."
		[/message]
	[/event]

	[event]
	name=time over
		[message]
		speaker=Belleros
		message= _ "This is taking too long, we've failed..."
		[/message] 
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]

	[event]
	name=moveto
		[filter]
		side=1
		x=16-22
		y=1-7
		[/filter]
	    [message]
	    speaker=Nemesis
	    message= _ "I told you:  Too late!"
	    [/message]
	    [message]
	    speaker=Scarrion
	    message= _ "Just get me within striking distance..."
	image=portraits/scarrion-ghost.png
	    [/message]
	[/event]
	[event]
	name=attack
		[filter]
		description=Scarrion
		[/filter]
		[filter_second]
		description=Nemesis
		[/filter_second]
		[message]
		speaker=Nemesis
		message= _ "If only you had been this competent when you were working for me.  But it doesn't matter, I'm almost finished."
		[/message]
		[message]
		speaker=Scarrion
		message= _ "I can't let you do that!"
		image=portraits/scarrion-ghost.png
		[/message]
		{FLASH_BLUE()}
		[message]
		speaker=narrator
		message= _ "And with a flash, they were both gone.  The Ukians were able to hold off the Primeval Legion until the orcs arrived.  Very few Ukians survived the ensuing three-way battle.  Those that did returned to the cave days later to find the orcs filling the entrance with rocks and clay.  No one would be setting off the volcano any time soon.  "
		[/message]
		[endlevel]
		result=victory
		[/endlevel]
	[/event]	
[/scenario]
